a, a:link
	color #fff
	cursor pointer

a:hover
	color greenyellow

body
	padding-top 55px
	background url('/img/yellow-green-forest.jpg') CENTER

.content
	margin-bottom 33px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

.navbar .brand
	color #fff

.navbar-inner
	background #072b07
	background rgba(7,43,7,0.8)
	font bold 11px Helvetica,Arial,sans-serif

.hero-unit, .sect
	background-color #FAF6ED
	-webkit-border-radius 6px
	-moz-border-radius 6px
	border-radius 6px

.sect
	padding 13px
	margin-bottom 13px
	width: 433px;

footer
	color #fff

.beta
	margin 14px 0 0 -13px
	float left

.social-link
	padding 7px