header a, header a:link, footer a, footer a:link
	color #fff
	cursor pointer

.social-link a, .social-link a:link, .blog-title
	color darkorange

.social-link a:hover, .blog-title:hover
	color orange

header a:hover, footer a:hover
	color greenyellow

body
	padding-top 55px
	background url('/img/yellow-green-forest.jpg') CENTER

.content
	margin-bottom 33px
	margin-top 7px

.blog-title
	font-size 17px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

.navbar .brand
	color #fff

.navbar-inner
	background #072b07
	background rgba(7,43,7,0.8)
	font bold 11px Helvetica,Arial,sans-serif

.hero-unit
	padding 44px 60px

.hero-unit, .sect, .post
	background-color #FAF6ED
	-webkit-border-radius 6px
	-moz-border-radius 6px
	border-radius 6px

.sect, .post
	padding 13px
	margin-bottom 13px

.sect
	width: 433px;

footer
	color #fff

.beta
	margin 14px 0 0 -13px
	float left

.social-link
	opacity .7
	padding 7px

.social-link:hover
	opacity 1

.head-tweet
	font-weight normal

.mdm
	text-align right